* {
    margin: 0;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
:root{
    --color1: #270427;
    --color2: #e9a4e9;

}
body {
    background-color: #270427;
}


.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background-color: #121313;
    
    height: 30px;
    
    
    
}

.menu-navegacao {
    display: inline;
    margin: 5px;
    padding: 5px;
    

    
}

.menu-link {
    text-decoration: none;
    color: #d155d1;
    font-size: 1.2em;
}

form {
    border: 3px solid black;
    margin: 50px;
    background-color: var(--color2);
}

fieldset {
    border: none;
    width: 500px;
    margin: 50px auto;
    font-size: 1.4em;
    
    
}


input {
    width: 150px;
    background-color: #e9a4e9;
    margin: 5px;
    padding: 5px;
    border: none;
    border-bottom: #121313 solid 1px;
    
    
}

textarea {
    margin: 16px auto;
}