.btn {
    width: 150px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: cornflowerblue;



}

.btn:hover {
    width: 200px;
    height: 70px;
    font-size: 1.5em;
}